@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
.emailandpasswordbox{
  background-color: white;
  border-radius: 5px;
  padding: 3px;
  width: 20%;
  min-width: 250px;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
.roboto{
  font-family: 'Roboto Mono', monospace;
}
.lobster{
  font-family: "Lobster";
}
.heading5{
  font-family: 'Lobster', cursive;
}
.horizontalcenter{
  display: flex;
  justify-content: center;
}
.verticalcenter{
  display: flex;
  flex-direction: column;
}
.verticalcenter2{
  display: flex;
  flex-direction: column;
  align-items: center;
}
*{
  font-family: 'Cuprum', sans-serif;
}
.inputbox{
  border: solid;
  border-color: lightgray;
  border-radius: 5px;
}
.button1{
  border: none;
  background: #18E170;
  scale: 1.5;
  border-radius: 3px;
}
.footer{

  bottom: 0;
  position: fixed;
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
}
.notextdeco{
  text-decoration: none;
  color: black;
}
.home1{
  padding : 0px;
  margin: 0px;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
.home2{
  padding : 0px;
  margin: 0px;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
.home3{
  padding : 0px;
  margin: 0px;
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}
.hometext{
  margin: 0px;
  font-size : 800%;
}
.hometext2{
  font-size : 500%;
}
.userinfobox{
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  padding: 10px;
  border-radius: 5px;
}
.dashboarduserinfo{
  background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);  
  border-radius: 5px;
  margin: 5px;
}
.massivetext{
  font-size: 4vw;
}
.flexiblerow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}
.button2{
  border: none;
  border-radius: 3px;
}
.maxwidth400px{
  max-width: 400px;
}
.card1{
  width: 40ex;
  height: 40ex;
}
.midtext{
  font-size: 50px;
}
.spacearound{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.heading1{
  margin: 1ex;
  border-radius: 50px;
  font-weight: bold;
}
.heading2{
  font-size: 3em;
}
.card2{
  background-color: #CDE6FF;
  width: 40ex;
  margin: 8px;
  border-radius: 5px;
  padding: 10px;
}
.card7{
  width: 40ex;
  margin: 8px;
  border-radius: 5px;
  padding: 5px;
}
.card3{
  border: solid;
  border-color: whitesmoke;
  padding: 5px;
}
.stack{
  display: flex;
  flex-direction: column;
}
.bold{
  color: black;
  font-weight: bold;
}
.ultramassivetext{
  font-size: 7vw;
}
.row{
  display: flex;
  flex-direction: row;
}
.grad1{
  background-color: white;
}
.lightblue{
  background: white;
}
.descbox{
  min-height: 200px;
}
.card4{
  width: 60ex;
  min-width: 40ex;
  border-radius: 5px;
}
.img2{
  height: 220px;
  width: 220px;
}
.button4{
  border-radius: 5px;
  background-color: lightcoral;
  border: none;
  min-width: min-content;
}
.whitetext{
  color: whitesmoke;
}
.whiteback{
  background-color: lightblue;
}
.spacebetween{
  display: flex;
  justify-content: space-between;
}
.downborder{
  border-bottom: solid;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: lightgrey;
}
.bannertext1{
  width: 60%;
}
.bannerimage{
  width: 30%;
  height: w;
}
html{
  padding: 5px;
}
.bigbtn{
  border-radius: 10px;
  border: none;
}
html{
	background: linear-gradient(-45deg, #CFBAEA, #C39FF1, lightblue, lightcyan);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
input{
  border: solid;
  border-color: lightgray;
}


