@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');
.emailandpasswordbox{
  background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
  border-radius: 5px;
  padding: 3px;
  width: 20%;
  min-width: 250px;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
.horizontalcenter{
  display: flex;
  justify-content: center;
}
.verticalcenter{
  display: flex;
  flex-direction: column;
}
*{
  font-family: 'Cuprum', sans-serif;
}
.inputbox{
  border : none;
  border-radius: 5px;
}
.button1{
  border: none;
  background: #18E170;
  scale: 1.5;
  border-radius: 3px;
}
.footer{
  bottom: 0;
  position: fixed;
  background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
  width: 100%;
}
